<!--navbar-->
<!--Ends navbar-->
<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-6 text-center">
        <br><br>
        <button (click)='vuelveConParametros()' type="button" class="btn btn-primary btn-lg">Regresar</button>
        <br><br><br>
    </div>

    <div class="col-md-6 text-center">
        <br><br>
        <button [routerLink]="['/donde-llegas']" type="button" class="btn btn-danger btn-lg">Salir</button>
        <br><br><br>
    </div>
</div>

<div class="text-center">
  <h1>
    Selecciona tu lugar
  </h1>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Guía de Selección:</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1 offset-md-1 text-center">
      <img src="assets/img/camion-asientoB-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-2 text-left">
      <h5 class="alinear-texto-asientos-guia">Libre</h5>
    </div>
    <div class="col-md-1 text-center">
      <img src="assets/img/camion-asientoR-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-3 text-left">
      <h5 class="alinear-texto-asientos-guia">Ocupado</h5>
    </div>
    <div class="col-md-1 text-center">
      <img src="assets/img/camion-asientoA-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">      
    </div>
    <div class="col-md-2 text-left">
      <h5 class="alinear-texto-asientos-guia">Seleccionado</h5>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 bus-vertical">
      <br><br><br><br><br><br><br><br><br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">                
            <label (click)="bloqueaAsiento(1)" class="asiento">1</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(2)" class="asiento-ocupado">2</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(3)" class="asiento">3</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(4)" class="asiento">4</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(5)" class="asiento">5</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(6)" class="asiento">6</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(7)" class="asiento">7</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(8)" class="asiento">8</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">9</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">10</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">11</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">12</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">13</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">14</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">15</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">16</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">17</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">18</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">19</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">20</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">21</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">22</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">23</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">24</label>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">25</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">26</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">27</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">28</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">29</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">30</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">31</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">32</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">33</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">34</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">35</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">36</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">37</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">38</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">39</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">40</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Estás eligiendo el asiento:</h4>
      <h4 class="text-center">#</h4>
    </div>
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pago']" type="button" class="btn btn-primary">Siguiente</button>
      </div>
  </div>
  <br><br>

  <div class="modal fade" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header class="font-12 bold">Modal Header</header>
                </div>
                <div class="modal-body">
                    Your Content ...
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--footer-->
  <app-footer></app-footer>
<!--Ends navbar-->
