<!--navbar-->
<!--Ends navbar-->
<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-6 text-center">
        <br><br>
        <button (click)='vuelveConParametros()' type="button" class="btn btn-primary btn-lg">Regresar</button>
        <br><br><br>
    </div>

    <div class="col-md-6 text-center">
        <br><br>
        <button [routerLink]="['/donde-llegas']" type="button" class="btn btn-danger btn-lg">Salir</button>
        <br><br><br>
    </div>
</div>

<div class="text-center">
  <h1>
    Selecciona tu lugar
  </h1>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Guía de Selección:</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1 offset-md-1 text-center">
      <img src="assets/img/camion-asientoB-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-2 text-left">
      <h5 class="alinear-texto-asientos-guia">Libre</h5>
    </div>
    <div class="col-md-1 text-center">
      <img src="assets/img/camion-asientoR-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-3 text-left">
      <h5 class="alinear-texto-asientos-guia">Ocupado</h5>
    </div>
    <div class="col-md-1 text-center">
      <img src="assets/img/camion-asientoA-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">      
    </div>
    <div class="col-md-2 text-left">
      <h5 class="alinear-texto-asientos-guia">Seleccionado</h5>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 bus-vertical">
      <br><br><br><br><br><br><br><br><br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">                
            <label (click)="bloqueaAsiento(1)" [ngClass]="status1 === true ? 'asiento-ocupado' : 'asiento'">1</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(2)" [ngClass]="status2 === true ? 'asiento-ocupado' : 'asiento'">2</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(3)" [ngClass]="status3 === true ? 'asiento-ocupado' : 'asiento'">3</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(4)" [ngClass]="status4 === true ? 'asiento-ocupado' : 'asiento'">4</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(5)" [ngClass]="status5 === true ? 'asiento-ocupado' : 'asiento'">5</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(6)" [ngClass]="status6 === true ? 'asiento-ocupado' : 'asiento'">6</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(7)" [ngClass]="status7 === true ? 'asiento-ocupado' : 'asiento'">7</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(8)" [ngClass]="status8 === true ? 'asiento-ocupado' : 'asiento'">8</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(9)" [ngClass]="status9 === true ? 'asiento-ocupado' : 'asiento'">9</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(10)" [ngClass]="status10 === true ? 'asiento-ocupado' : 'asiento'">10</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(11)" [ngClass]="status11 === true ? 'asiento-ocupado' : 'asiento'">11</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(12)" [ngClass]="status12 === true ? 'asiento-ocupado' : 'asiento'">12</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(13)" [ngClass]="status13 === true ? 'asiento-ocupado' : 'asiento'">13</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(14)" [ngClass]="status14 === true ? 'asiento-ocupado' : 'asiento'">14</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(15)" [ngClass]="status15 === true ? 'asiento-ocupado' : 'asiento'">15</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(16)" [ngClass]="status16 === true ? 'asiento-ocupado' : 'asiento'">16</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(17)" [ngClass]="status17 === true ? 'asiento-ocupado' : 'asiento'">17</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(18)" [ngClass]="status18 === true ? 'asiento-ocupado' : 'asiento'">18</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(19)" [ngClass]="status19 === true ? 'asiento-ocupado' : 'asiento'">19</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(20)" [ngClass]="status20 === true ? 'asiento-ocupado' : 'asiento'">20</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(21)" [ngClass]="status21 === true ? 'asiento-ocupado' : 'asiento'">21</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(22)" [ngClass]="status22 === true ? 'asiento-ocupado' : 'asiento'">22</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(23)" [ngClass]="status23 === true ? 'asiento-ocupado' : 'asiento'">23</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(24)" [ngClass]="status24 === true ? 'asiento-ocupado' : 'asiento'">24</label>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(25)" [ngClass]="status25 === true ? 'asiento-ocupado' : 'asiento'">25</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(26)" [ngClass]="status26 === true ? 'asiento-ocupado' : 'asiento'">26</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(27)" [ngClass]="status27 === true ? 'asiento-ocupado' : 'asiento'">27</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(28)" [ngClass]="status28 === true ? 'asiento-ocupado' : 'asiento'">28</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(29)" [ngClass]="status29 === true ? 'asiento-ocupado' : 'asiento'">29</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(30)" [ngClass]="status30 === true ? 'asiento-ocupado' : 'asiento'">30</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(31)" [ngClass]="status31 === true ? 'asiento-ocupado' : 'asiento'">31</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(32)" [ngClass]="status32 === true ? 'asiento-ocupado' : 'asiento'">32</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(33)" [ngClass]="status33 === true ? 'asiento-ocupado' : 'asiento'">33</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(34)" [ngClass]="status34 === true ? 'asiento-ocupado' : 'asiento'">34</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(35)" [ngClass]="status35 === true ? 'asiento-ocupado' : 'asiento'">35</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(36)" [ngClass]="status36 === true ? 'asiento-ocupado' : 'asiento'">36</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label (click)="bloqueaAsiento(37)" [ngClass]="status37 === true ? 'asiento-ocupado' : 'asiento'">37</label>
        </div>
        <div class="col-md-1 second-seats">
            <label (click)="bloqueaAsiento(38)" [ngClass]="status38 === true ? 'asiento-ocupado' : 'asiento'">38</label>
        </div>
        <div class="col-md-1 third-seats">
            <label (click)="bloqueaAsiento(39)" [ngClass]="status39 === true ? 'asiento-ocupado' : 'asiento'">39</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label (click)="bloqueaAsiento(40)" [ngClass]="status40 === true ? 'asiento-ocupado' : 'asiento'">40</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Estás eligiendo el asiento:</h4>
      <h4 class="text-center">#</h4>
    </div>
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pago']" type="button" class="btn btn-primary">Siguiente</button>
      </div>
  </div>
  <br><br>

  <div class="modal fade" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header class="font-12 bold">Modal Header</header>
                </div>
                <div class="modal-body">
                    Your Content ...
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--footer-->
  <app-footer></app-footer>
<!--Ends navbar-->
