<!--navbar-->
  <app-navbar></app-navbar>
<!--Ends navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Volver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="text-center">
  <h1>
    Selecciona tu lugar
  </h1>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Guía de Selección:</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1 offset-md-1 text-center">
      <img src="assets/img/camion-asientoB-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-2 text-left">
      <h5 class="alinear-texto-asientos-guia">Libre</h5>
    </div>
    <div class="col-md-1 text-center">
      <img src="assets/img/camion-asientoR-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-3 text-left">
      <h5 class="alinear-texto-asientos-guia">Ocupado</h5>
    </div>
    <div class="col-md-1 text-center">
      <img src="assets/img/camion-asientoA-H.png" class="img-thumbnail rotateimg90 quitar-borde" alt="">
    </div>
    <div class="col-md-2 text-left">
      <h5 class="alinear-texto-asientos-guia">Seleccionado</h5>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 bus-vertical">
      <br><br><br><br><br><br><br><br><br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">1</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">2</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">3</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">4</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">5</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">6</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">7</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">8</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">9</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">10</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">11</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">12</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">13</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">14</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">15</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">16</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">17</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">18</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">19</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">20</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">21</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">22</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">23</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">24</label>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">25</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">26</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">27</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">28</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">29</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">30</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">31</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">32</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">33</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">34</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">35</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">36</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 offset-md-2 col-lg-1 offset-lg-3 first-seats">
            <label class="asiento">37</label>
        </div>
        <div class="col-md-1 second-seats">
            <label class="asiento">38</label>
        </div>
        <div class="col-md-1 third-seats">
            <label class="asiento">39</label>
        </div>
        <div class="col-md-1 fourth-seats">
            <label class="asiento">40</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Estás eligiendo el asiento:</h4>
      <h4 class="text-center">#{{asiento}}</h4>
    </div>
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pago']" type="button" class="btn btn-primary">Siguiente</button>
      </div>
  </div>
  <br><br>

  <div class="modal fade" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header class="font-12 bold">Modal Header</header>
                </div>
                <div class="modal-body">
                    Your Content ...
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--footer-->
  <app-footer></app-footer>
<!--Ends navbar-->
