<nav class="navbar navbar-expand-lg navbar-light bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Paquetes de diversión <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Paquetes de espectaculos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">City Tourister</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Renta de autobus/Sprinter</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<br>
<br>


<h2>Lo mas vendido...</h2>
<div class="row">
  <div class="col-sm">
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.tourister.com.mx/multimedia/imagenes/destino/a98dbb77f8fcc3938817021a7a61f2cbe75fa7d3.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.tourister.com.mx/multimedia/imagenes/destino/c4e498191dcedcf22e340c9ad1d0eb94b8d68077.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.tourister.com.mx/multimedia/imagenes/destino/bae759859a145121894844dd7208ff595ec685c8.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm">
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.tourister.com.mx/multimedia/imagenes/destino/8279d52a00acd96234622491453ee41c27238eb4.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.tourister.com.mx/multimedia/imagenes/destino/67ab92000b1ab156e11796b7a9de7d0c0f3ae8ba.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.tourister.com.mx/multimedia/imagenes/destino/ee9030ac906d181271fc1aac4cfa570b57084496.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  
      </div>
  
    </div>
  </div>
</div>s




