<app-navabar-tourister></app-navabar-tourister>
<div class="container-fluid">
  <div class="fondo1">
    <br>
    <div class="row">
      <div class="container">
        <br><p style="color:red; font-size:2.5em;"> Lo Más <b>Vendido</b> </p>
        <div class="row">
          <div class="col-md-4 col-xl-4">
            <div class="thumbnail">
              <img id="tamanio" src="https://www.tourister.com.mx/multimedia/imagenes/destino/a98dbb77f8fcc3938817021a7a61f2cbe75fa7d3.png">
              <div class="row">
                <div class="col-md-10 col-xl-10">
                  <p class="p"><b class="p2">EL ROLLO</b><br>Tlaquiltenango, Morelos</p>
                </div>
                <div class="col-md-2 col-xl-2">
                  <p align="right">$530</p>
                </div>
              </div>
              <button [routerLink]="['/rollo']" type="button" class="btn">QUIERO IR</button>
            </div>
          </div>
          <div class="col-md-4 col-xl-4">
            <div class="thumbnail">
              <img id="tamanio" src="https://www.tourister.com.mx/multimedia/imagenes/destino/c4e498191dcedcf22e340c9ad1d0eb94b8d68077.png">
              <div class="row">
                <div class="col-md-10 col-xl-10">
                  <p class="p"><b class="p2">VUELO EN GLOBO</b><br>Teotihuacan, CDMX</p>
                </div>
                <div class="col-md-2 col-xl-2">
                  <p align="left">$2915</p>
                </div>
              </div>
              <button type="button" class="btn">QUIERO IR</button>
            </div>
          </div>
          <div class="col-md-4 col-xl-4">
            <div class="thumbnail">
              <img id="tamanio" src="https://www.tourister.com.mx/multimedia/imagenes/destino/bae759859a145121894844dd7208ff595ec685c8.png">
              <div class="row">
                <div class="col-md-10 col-xl-10">
                  <p class="p"><b class="p2">AFRICAN SAFARI</b><br>Puebla, Puebla</p>
                </div>
                <div class="col-md-2 col-xl-2">
                  <p align="left">$375</p>
                </div>
              </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn">QUIERO IR</button>
            </div>
          </div>

          <div class="col-md-4 col-xl-4">
            <div class="thumbnail">
              <img id="tamanio" src="https://www.tourister.com.mx/multimedia/imagenes/destino/8279d52a00acd96234622491453ee41c27238eb4.png">
              <div class="row">
                <div class="col-md-10 col-xl-10">
                  <p class="p"><b class="p2">LA VILLA Y CHAPULTEPEC</b><br>CDMX</p>
                </div>
                <div class="col-md-2 col-xl-2">
                  <p align="left">$389</p>
                </div>
              </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn">QUIERO IR</button>
              </div>
            </div>
          <div class="col-md-4 col-xl-4">
            <div class="thumbnail">
              <img id="tamanio" src="https://www.tourister.com.mx/multimedia/imagenes/destino/67ab92000b1ab156e11796b7a9de7d0c0f3ae8ba.jpg">
              <div class="row">
                <div class="col-md-10 col-xl-10">
                  <p class="p"><b class="p2">HURRICANE HARBOR</b><br>Oaxtepec, Morelos</p>
                </div>
                <div class="col-md-2 col-xl-2">
                  <p align="left">$500</p>
                </div>
              </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn">QUIERO IR</button>
              </div>
            </div>
          <div class="col-md-4 col-xl-4">
            <div class="thumbnail">
              <img id="tamanio" src="https://www.tourister.com.mx/multimedia/imagenes/destino/ee9030ac906d181271fc1aac4cfa570b57084496.jpg">
              <div class="row">
                <div class="col-md-10 col-xl-10">
                  <p class="p"><b class="p2">SIX FLAGS FESTIVAL DEL TERROR</b><br>CDMX</p>
                </div>
                <div class="col-md-2 col-xl-2">
                  <p align="left">$849</p>
                </div>
              </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn">QUIERO IR</button>
              </div>
            </div>
            <img id="tamanioTurister" src="/assets/img/city-tourister-home.jpg">
              <div class="col-md-1 col-xl-1"></div>
              <div class="col-md-5 col-xl-5">
                <h2><b>Renta de<br> autobús y sprinter</b><br><small>La mejor opción para viajar seguro</small></h2>
              </div>
              <div class="col-md-6 col-xl-6">
                <img id="tamanioTurister" src="/assets/img/imgCrafter.jpg">
              </div>

        </div> <!--row-->
      </div> <!--container-->
      <div class="row"> <!--turister mejor opcion-->
        <div class="col-md-1 col-xl-1"></div>
        <div class="col-md-5 col-xl-5">
          <img id="tamanioTurister" src="/assets/img/about-us-home-bus.png">
        </div>
        <div class="col-md-5 col-xl-5">
          <p align="center" style="color:#ffffff;"><br><br>TOURISTER es la mejor opción en servicios de transportación terrestre, especialista en renta de autobuses, paquetes de diversión, y traslados a los mejores espectáculos en la ciudad de México.<br>
              TOURISTER forma parte del grupo Estrella Roja, empresa con más de 70 años de experiencia en la transportación de pasajeros en México, cuenta con una flotilla de 150 autobuses y 20 sprinters con diversas opciones especializados para el turismo.<br>
              Hemos transportado más de 1 millón de pasajeros, recorriendo aproximadamente 10 millones de kilómetros por toda la República mexicana, ofreciendo confort, comodidad y seguridad en cada uno de nuestros viajes.<br></p>
        </div>
        <div class="col-md-1 col-xl-1"></div>
      </div>
    </div> <!--row-->
    <br>
  </div> <!--fondo-->
</div> <!--fluid-->

<app-footer-tourister></app-footer-tourister>
