.fondo1{
  background-image: url(/assets/img/rentaT.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.container{
  background-color: white;

}

.thumbnail{
  margin-top: 5px;
  margin-bottom: 5px;
}

img#tamanio{
  width: 22.8vw;
  height: 30vh;
}

@media screen and (max-width: 1024px) and (min-width: 700px){
  .container-fluid{
    margin-left: -0.7vw;
  }

  img#tamanio{
    width: 28vw;
    height: 20vh;
  }
}
