<footer class="footer" id="collo">
  <!--foote_bottom_ul_amrc ends here-->

  <br><br>
  <div class="row">
    <div class="col-lg-2" style="text-align: center">
      <img id="tam" src="../../assets/img/touristerF.png">
    </div>
    <div class="col-lg-6">
      <p class="text-center">
		Atención a clientes (222) 213 7135, (222) 273 8310 y (222) 273 8327
		</p>
    </div>
    <div class="col-lg-2">
      <img src="../../assets/img/sello.png">
    </div>
    <div class="col-lg-2" style="text-align: center">
      <p class="text-center">Copyright © 2018 Estrella Roja</p>
    </div>
  </div>
  <br>
  <!--social_footer_ul ends here-->
</footer>
