<app-navbar></app-navbar>
<div id="container">
    <header></header>


      <section>

        <h3>Codigo Promocional</h3>
        <div class="container mt-2 col-md-12" style="width:600px; margin:0 auto;">
          <div class="row">
            <div class="col">
              <input type = "text" name = "CodigoProm" value="">
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary">Agregar</button>
            </div>
          </div>
        </div>

        <div class="container-fluid mt-2 col-md-12" style="width:600px; margin:0 auto; border:3px solid #cecece;">

          <div class="row">
            <div class="col">
              <h6>Nombre: Jesus Castillo</h6>
              <h6>Destino: Terminal 1 CDMX</h6>
              <h6>Hora: 13:30</h6>
            </div>
            <div class="col ">
              <h6 class ="lefty">Precio: $300</h6>
            </div>
          </div>

        </div>




        <div class="container-fluid mt-2 col-md-12" style="width:600px; margin:0 auto; border:1px solid #cecece;">

          <div class="row">
            <div class="col">
              <h6>Recomendaciones</h6>
              <button type="button" class="btn btn-success btn-lg">Pagar</button>
            </div>


            <div class="container" style="border:0.5px solid #cecece;">

            </div>

          </div>

        </div>
      </section>
  </div>

  <app-footer></app-footer>