<div id="container" class="fondo1">
  <header></header>

  <div class="row">
      <div class="col-md-6 text-center">
          <br><br>
          <button [routerLink]="['/asientos']" type="button" class="btn btn-primary btn-lg">Regresar</button>
          <br><br><br>
      </div>
  
      <div class="col-md-6 text-center">
          <br><br>
          <button [routerLink]="['/donde-llegas']" type="button" class="btn btn-danger btn-lg">Salir</button>
          <br><br><br>
      </div>
  </div>


  <section class="formulario">
    <br>
    <h3>Llena tus datos</h3><br>
    <form>
    <div class="container box">
      <table>
        <tr>
          <th>
              Nombre(s):
          </th>
          <th>
              Apellidos:
          </th>
          <th>
              Correo electrónico:
          </th>
        </tr>

        <tr>
          <th>
              <input type = "text" [formControl]="name" style="width:250px; height: 40px; margin:0 auto;">
          </th>
          <th>
              <input type = "text" [formControl]="lastName" style="width:250px; height: 40px; margin:0 auto;">
          </th>
          <th>
              <input type = "text" [formControl]="email" style="width:250px; height: 40px; margin:0 auto;" placeholder="ejemplo@ejemplo.com">
          </th>
        </tr>
      </table>
    </div>
  </form>
    <br>

    <div class="container box" style="width:700px; margin:0 auto; border:1px solid #cecece;">

      <div class="row">
        <div class="col"><br>
          <h5>{{ today | date:'short' }}</h5>
          
          <h6><b>Nombre:</b> {{ name.value }} {{ lastName.value}}</h6>
          <h6><b>Correo:</b>{{ email.value }}</h6>
          <h6><b>Origen:</b> Puebla</h6>
          <h6><b>Destino:</b> Terminal 1 CDMX</h6>
          <h6><b>Asiento:</b> 20</h6>
          <h6><b>Hora:</b> 13:30</h6>
        </div>
        <div class="col "><br>
          <h6 align="right">Precio: $300</h6>
          <h6 align="right">Descuento: $0</h6><br><br><br>
          <h5 align="right">Total: 300</h5>

        </div>
      </div>

    </div>
    <br>


    <div class="container box" style="width:700px; margin:0 auto; border:1px solid #cecece;">


      
        <h5 align="center">Pago</h5>
        <br>
        <h6 align="center">Paga y recibe tu boleto en tu correo electrónico</h6>\
        <h2 *ngIf="paypalLoad">Cargando...</h2> 
          <div id="paypal-button-container" align="center"></div>
      
     
      
      
      

    </div>
  </section>
</div>
<br>

<app-footer></app-footer>
