<app-navbar></app-navbar>
<div class="container box">
    <div class="list-group">
        <div  class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md-4 align-self-center">
                 <p class="txt-blue">Hora salida</p> 
                </div>
                <div class="col-md-4 align-self-center">
                    <p class="hora"> 22:00 hrs.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-self-center d-flex mx-auto">
                    <p class="txt-blue"> Tarifa</p>   <button [routerLink]="['/asientos']" type="button" class="btn btn-outline-info">  $300  </button>        
                </div>
            </div>
        </div>
        <div  class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md-4">
                 <p class="txt-blue align-self-center">Hora salida</p> 
                </div>
                <div class="col-md-4 align-self-center">
                    <p class="hora"> 23:00 hrs.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-self-center d-flex mx-auto">
                    <p class="txt-blue"> Tarifa</p>   <button [routerLink]="['/asientos']" type="button" class="btn btn-outline-info">  $300  </button>        
                </div>
            </div>
        </div>
        <div  class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md-4 align-self-center">
                 <p class="txt-blue ">Hora salida</p> 
                </div>
                <div class="col-md-4 align-self-center">
                    <p class="hora"> 00:00 hrs.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-self-center d-flex mx-auto">
                    <p class="txt-blue"> Tarifa</p>   <button [routerLink]="['/asientos']" type="button" class="btn btn-outline-info">  $300  </button>        
                </div>
            </div>
        </div>
        <div  class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md-4 align-self-center">
                 <p class="txt-blue">Hora salida</p> 
                </div>
                <div class="col-md-4 align-self-center">
                    <p class="hora"> 07:00 hrs.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-self-center d-flex mx-auto">
                    <p class="txt-blue"> Tarifa</p>   <button [routerLink]="['/asientos']" type="button" class="btn btn-outline-info">  $300  </button>        
                </div>
            </div>
        </div>
      </div>
  
</div>
<app-footer></app-footer>