<div class="d-flex justify-content-center">
    <div class="card-form">
        <form class="detalles">
          <div class="title">Detalles de compra</div>
          <div class="d-flex justify-content-around">
              <div class="text">Adulto $375</div>
              <div class="text">Niño $365</div>
          </div>
          <div class="d-flex justify-content-around">
            <div class="description">De 13 a 59 años de edad</div>
            <div class="description">De 90 a 120 cm de estatura</div>
          </div>
          <div class="form-body">
            <div class="row">
              <input class="input" placeholder="Email">
              <br>
              <input class="input" placeholder="Nombre completo">
            </div>
            <div class="d-flex justify-content-left row">
              <input class="input" placeholder="Total a pagar">
            </div>
          </div>
          <div class="rule"></div>
          <div class="form-footer">
          <input class="button button-flat primary" name="comprar" value="pagar">
          </div>
        </form>
      </div>
</div>
