<app-navbar-principal></app-navbar-principal>
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
<div class="container-fluid">
	<div class="fondo1">
		<div class="row">
			<div class="col-md-6 col-6 col-xl-6 portadaIzquierda">
					<button [routerLink]="['/tourister']" class="btn1"><b style="font-size:2em;">Tourister</b><br>  <span class="text">Recorre Puebla y sus lugares mágicos de una manera especial</span></button>
			</div>
			<div class="col-md-6 col-6 col-xl-6 portadaDerecha">
					<button [routerLink]="['/donde-sales']" class="btn2"><b style="font-size:2em;">Aeropuerto</b><br> <span class="text">Llega con tiempo al aeropuerto de la Ciudad de México</span></button>
      </div>

			<div class="col-md-12 col-xl-12 col-12 titulo">
				<h1><b>¿Qué quieres hacer el día de hoy?</b></h1>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>
