<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
<app-navbar></app-navbar>



<div class="container-fluid">
	<div class="fondo1">
		<div class="row">
			<div class="col-md-6 col-6 col-xl-6 portadaIzquierda">
					<button [routerLink]="['/donde-sales']" class="btn1"><b style="font-size:2em;">Tourister</b><br> Recorre Puebla y sus lugares mágicos de una manera especial.</button>
			</div>
			<div class="col-md-6 col-6 col-xl-6 portadaDerecha">
					<button [routerLink]="['/donde-sales']" class="btn2"><b style="font-size:2em;">Aeropuerto</b><br> Llega con tiempo al aeropuerto de la Ciudad de México</button>
      </div>
      
			<div class="col-md-12 col-xl-12 col-12 titulo">
				<h1>¿Qué quieres hacer el día de hoy?</h1>
			</div>
		</div>
	</div>
</div>







<app-footer></app-footer>