<footer class="footer">
  <!--foote_bottom_ul_amrc ends here-->

  <br><br>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="text-align: center">
      <img src="../../assets/img/tuviaje.png">
    </div>
    <div class="col-lg-2" style="text-align: center">
      <img src="../../assets/img/sello.png">
    </div>
    <div class="col-lg-2">
      <p class="text-center">(222) 273 8300</p>
    </div>
    <div class="col-lg-2">
      <p class="text-center">© Copyright 2018 Aeropuerto ER</p>
    </div>
  </div>
  <br>
  <!--social_footer_ul ends here-->
</footer>
